body
	background-color: #FFFFFF

#title 
	text-align: center
	padding-bottom: 50px

#camper-leaderboard
	width: 100%
	text-align: center

button
	margin-bottom: 10px

table
	margin: 0 auto
	border-radius: 10px

table, td, th
	border: 1px solid black
	text-align: center

th
	background-color: #FFFFFF

tr:nth-child(2n)
	background-color: #00FF7F

tr:nth-child(odd)
	background-color: #D3D3D3